@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: var(--cs-font-family-sans-serif);
}

body {
  background-color: var(--cs-color-background-default);
  color: var(--cs-color-foreground-default);
  font-size: var(--cs-font-size-m);
}