@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: var(--cs-font-family-sans-serif);
}

body {
  background-color: var(--cs-color-background-default);
  color: var(--cs-color-foreground-default);
  font-size: var(--cs-font-size-m);
}

a {
  color: var(--cs-link-foreground);
  text-decoration: var(--cs-text-decoration-underline);
}

a:hover {
  color: var(--cs-link-foreground-hover);
}

a:active {
  color: var(--cs-link-foreground-active);
}

a:focus-visible {
  outline: var(--cs-button-outline-focus);
  outline-offset: var(--cs-button-outline-offset-focus)
}