:host, .theme-dark {
color-scheme: dark;
  --cs-table-foreground-color: #e2e2e4;
  --cs-table-background-color: #2d2c31;
  --cs-table-border-color: #09090c;
  --cs-table-header-column-seperator-color: #e2e2e4;
  --cs-table-header-foreground-color: #e2e2e4;
  --cs-table-header-background-color: #17161a;
  --cs-table-row-odd-background-color: #27262c;
  --cs-table-row-selected-background-color: #414154;
  --cs-table-row-border-color: transparent;
  --cs-table-cell-foreground-color: #e2e2e4;
  --cs-shadow-inner-m: inset 0 1px 2px 0 #00000040;
  --cs-shadow-inner-l: inset 0 2px 4px 0 #0000005c;
  --cs-shadow-drop-s: 0 1px 2px 0 #00000075, 0 1px 3px 0 #0000001a;
  --cs-shadow-drop-m: 0 2px 4px 0 #00000054, 0 4px 6px 0 #0000001a;
  --cs-shadow-drop-l: 0 10px 15px 0 #0000004d, 0 4px 6px 0 #00000026;
  --cs-shadow-drop-xl: 0 20px 25px 0 #0000004d, 0 10px 10px 0 #0000001f;
  --cs-shadow-drop-2xl: 0 25px 50px 0 #0000009e;
  --cs-overlay-dark: #00000021;
  --cs-overlay-darker: #00000040;
  --cs-overlay-darkest: #00000099;
}
