:host,
.theme-dark {
  color-scheme: dark;
  --cs-breadcrumb-color: #c3d9fd;
  --cs-breadcrumb-color-hover: #e1ecfe;
  --cs-breadcrumb-color-active: #f7f7f8;
  --cs-button-primary-background: #c3d9fd;
  --cs-button-primary-background-hover: #e1ecfe;
  --cs-button-primary-background-active: #7697fd;
  --cs-button-primary-color: #000000;
  --cs-button-secondary-background: #3b3a40;
  --cs-button-secondary-background-hover: #5d5b65;
  --cs-button-secondary-background-active: #2c2c30;
  --cs-button-secondary-color: #f7f7f8;
  --cs-button-neutral-background: #ffffff00;
  --cs-button-neutral-background-hover: #3b3a40;
  --cs-button-neutral-background-active: #2c2c30;
  --cs-button-neutral-border-color: #3b3a40;
  --cs-button-neutral-border: 1px solid #3b3a40;
  --cs-button-neutral-color: #f7f7f8;
  --cs-button-danger-background: #ef3e40;
  --cs-button-danger-background-hover: #f36568;
  --cs-button-danger-background-active: #ef3e40;
  --cs-button-danger-color: #000000;
  --cs-button-text-color: #c3d9fd;
  --cs-button-text-color-hover: #e1ecfe;
  --cs-button-text-color-active: #f7f7f8;
  --cs-button-text-color-disabled: #5d5b65;
  --cs-button-disabled-background: #2c2c30;
  --cs-button-disabled-color: #5d5b65;
  --cs-button-dismiss-color: #dddddf;
  --cs-button-dismiss-color-hover: #e1ecfe;
  --cs-button-dismiss-color-active: #7697fd;
  --cs-checkbox-background-checked: #c3d9fd;
  --cs-checkbox-border: 1px solid #3b3a40;
  --cs-checkbox-border-color: #3b3a40;
  --cs-checkbox-border-color-disabled: #75737d;
  --cs-checkbox-checked: #161618;
  --cs-checkbox-indeterminate: #161618;
  --cs-dialog-overlay: #00000099;
  --cs-icon-color: #ffffff;
  --cs-icon-color-inverse: #161618;
  --cs-input-background: #0000003d;
  --cs-input-border-color: #000000;
  --cs-input-border-color-focus: #567ff9;
  --cs-input-border-color-invalid: #ef3e40;
  --cs-input-color: #f7f7f8;
  --cs-input-color-disabled: #5d5b65;
  --cs-input-label-color: #b8b7bd;
  --cs-input-placeholder-color: #5d5b65;
  --cs-input-shadow: inset 0 0 0 1px #000000, inset 0 2px 4px 0 #00000061;
  --cs-input-shadow-focus: inset 0 0 0 1px #567ff9, 0 0 0 2px #567ff961;
  --cs-input-shadow-invalid: inset 0 0 0 1px #ef3e40, 0 0 0 2px #ef3e4061;
  --cs-link-color: #c3d9fd;
  --cs-link-color-hover: #e1ecfe;
  --cs-link-color-active: #f7f7f8;
  --cs-menu-background: #2c2c30;
  --cs-menu-label-color: #f7f7f8;
  --cs-menu-item-background-hover: #1d1c20;
  --cs-menu-item-color: #f7f7f8;
  --cs-popover-background: #2c2c30;
  --cs-radio-checked: #161618;
  --cs-radio-checked-disabled: #b8b7bd;
  --cs-spinner-track-color: #064F5F;
  --cs-spinner-indicator-color: #c3d9fd;
  --cs-switch-track-background: #2c2c30;
  --cs-switch-track-background-checked: #0F687B;
  --cs-switch-thumb-background: #161618;
  --cs-tab-color: #b8b7bd;
  --cs-tab-color-hover: #f7f7f8;
  --cs-tab-color-active: #f7f7f8;
  --cs-tab-background: #ffffff00;
  --cs-tab-background-hover: #ffffff00;
  --cs-tab-background-active: #0F687B;
  --cs-table-color: #f7f7f8;
  --cs-table-background: #ffffff;
  --cs-table-border-color: #2c2c30;
  --cs-table-header-background: #161618;
  --cs-table-header-color: #f7f7f8;
  --cs-table-header-column-separator-background: #ffffff;
  --cs-table-row-background-odd: #161618;
  --cs-table-row-background-selected: #000000;
  --cs-table-row-border-color: #ffffff00;
  --cs-table-cell-color: #f7f7f8;
  --cs-tag-neutral-background: #000000;
  --cs-tag-neutral-color: #f7f7f8;
  --cs-tooltip-background: #2c2c30;
  --cs-tooltip-border-color: #5d5b65;
  --cs-tooltip-color: #f7f7f8;
}
