:host,
.theme-dark {
  color-scheme: dark;
  --cs-background-default: #000000;
  --cs-background-inverse: #ffffff;
  --cs-background-light: #161618;
  --cs-background-lighter: #1d1c20;
  --cs-background-lightest: #2c2c30;
  --cs-background-disabled: #2c2c30;
  --cs-border-color-light: #2c2c30;
  --cs-border-color-medium: #3b3a40;
  --cs-border-color-bold: #5d5b65;
  --cs-border-color-disabled: #75737d;
  --cs-border-color-error: #ef3e40;
  --cs-border-color-transparent: #ffffff00;
  --cs-color-severity-critical: #ef3e40;
  --cs-color-severity-high: #f6753d;
  --cs-color-severity-medium: #f3c238;
  --cs-color-severity-low: #b7f2ca;
  --cs-color-severity-info: #8cb0fd;
  --cs-color-alert-primary: #8cb0fd;
  --cs-color-alert-success: #34d79e;
  --cs-color-alert-neutral: #b8b7bd;
  --cs-color-alert-warning: #f3c238;
  --cs-color-alert-danger: #ef3e40;
  --cs-focus-ring-color: #567ff9;
  --cs-focus-ring-error: #b11d13;
  --cs-overlay-dark: #00000021;
  --cs-overlay-darker: #00000040;
  --cs-overlay-darkest: #00000099;
  --cs-drop-shadow-s: 0 1px 2px 0 #00000075, 0 1px 3px 0 #0000001a;
  --cs-drop-shadow-m: 0 2px 4px 0 #00000054, 0 4px 6px 0 #0000001a;
  --cs-drop-shadow-l: 0 10px 15px 0 #0000004d, 0 4px 6px 0 #00000026;
  --cs-drop-shadow-xl: 0 20px 25px 0 #0000004d, 0 10px 10px 0 #0000001f;
  --cs-drop-shadow-2xl: 0 25px 50px 0 #0000009e;
  --cs-inner-shadow-m: inset 0 1px 2px 0 #00000040;
  --cs-inner-shadow-l: inset 0 2px 4px 0 #0000005c;
  --cs-text-primary: #f7f7f8;
  --cs-text-secondary: #b8b7bd;
  --cs-text-disabled: #5d5b65;
  --cs-text-error: #ef3e40;
  --cs-text-inverse: #000000;
}
