:host, :root, .theme-light {
color-scheme: light;
  --cs-table-foreground-color: #3d3d3d;
  --cs-table-background-color: #ffffff;
  --cs-table-border-color: #d9d9d9;
  --cs-table-header-column-seperator-color: #3d3d3d;
  --cs-table-header-foreground-color: #ffffff;
  --cs-table-header-background-color: #ededed;
  --cs-table-row-odd-background-color: #f5f5f5;
  --cs-table-row-selected-background-color: #e3edef;
  --cs-table-row-border-color: transparent;
  --cs-table-cell-foreground-color: #3d3d3d;
  --cs-shadow-inner-m: inset 0 2px 4px 0 #00000014;
  --cs-shadow-inner-l: inset 0 2px 5px 0 #00000017;
  --cs-shadow-drop-s: 0 0 1px 0 #00000012, 0 1px 2px 0 #00000026;
  --cs-shadow-drop-m: 0 0 4px 0 #0000000f, 0 3px 6px 0 #0000001a;
  --cs-shadow-drop-l: 0 10px 15px 0 #00000014, 0 0 3px 0 #00000012;
  --cs-shadow-drop-xl: 0 20px 25px 0 #00000014, 0 0 4px 0 #00000014;
  --cs-shadow-drop-2xl: 0 0 7px 0 #00000014, 0 25px 50px 0 #00000040;
  --cs-overlay-dark: #00000008;
  --cs-overlay-darker: #0000000d;
  --cs-overlay-darkest: #00000026;
}
