:host,
:root,
.theme-light {
  color-scheme: light;
  --cs-breadcrumb-color: #036678;
  --cs-breadcrumb-color-active: #025564;
  --cs-breadcrumb-color-hover: #168093;
  --cs-button-border: 1px solid transparent;
  --cs-button-danger-background: #d31912;
  --cs-button-danger-background-hover: #e9181f;
  --cs-button-danger-background-active: #b11d13;
  --cs-button-danger-color: #ffffff;
  --cs-button-disabled-color: #949494;
  --cs-button-link-color: #036678;
  --cs-button-link-color-hover: #168093;
  --cs-button-link-color-active: #025564;
  --cs-button-primary-background: #036678;
  --cs-button-primary-background-hover: #168093;
  --cs-button-primary-background-active: #025564;
  --cs-button-primary-color: #ffffff;
  --cs-button-secondary-background: #e0e0e0;
  --cs-button-secondary-background-hover: #e8e8e8;
  --cs-button-secondary-background-active: #adadad;
  --cs-button-secondary-color: #202020;
  --cs-checkbox-background: #e0e0e0;
  --cs-checkbox-background-checked: #036678;
  --cs-checkbox-border: 1px solid #767676;
  --cs-checkbox-checked: #ffffff;
  --cs-details-border: 1px solid #d9d9d9;
  --cs-details-summary-background: #ffffff;
  --cs-details-summary-color: #3d3d3d;
  --cs-details-content-background: #ffffff;
  --cs-details-content-color: #767676;
  --cs-input-background: #0000000d;
  --cs-input-border-color: #d9d9d9;
  --cs-input-border-color-focus: #039eba;
  --cs-input-border-color-invalid: #e9181f;
  --cs-input-color: #3d3d3d;
  --cs-input-disabled-color: #949494;
  --cs-input-label-color: #767676;
  --cs-input-placeholder-color: #a1a1aa;
  --cs-input-shadow: inset 0 0 0 1px #d9d9d9, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-focus: inset 0 0 0 2px #039eba, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-invalid: inset 0 0 0 2px #e9181f, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-invalid-focus: inset 0 0 0 2px #e9181f, 0 0 0 2px #e9181f63;
  --cs-link-color: #036678;
  --cs-link-color-hover: #168093;
  --cs-link-color-active: #025564;
  --cs-menu-item-color: #3d3d3d;
  --cs-menu-label-color: #767676;
  --cs-popover-background: #ffffff;
  --cs-tab-color: #767676;
  --cs-tab-color-hover: #3d3d3d;
  --cs-tab-color-active: #3d3d3d;
  --cs-tab-background: transparent;
  --cs-tab-background-hover: transparent;
  --cs-tab-background-active: #039eba;
  --cs-table-color: #3d3d3d;
  --cs-table-background: #ffffff;
  --cs-table-border-color: #d9d9d9;
  --cs-table-header-background: #ededed;
  --cs-table-header-color: #ffffff;
  --cs-table-header-column-seperator-background: #3d3d3d;
  --cs-table-row-background-odd: #f5f5f5;
  --cs-table-row-background-selected: #e3edef;
  --cs-table-row-border-color: transparent;
  --cs-table-cell-color: #3d3d3d;
  --cs-tag-neutral-background: #e0e0e0;
  --cs-tag-neutral-color: #3d3d3d;
  --cs-tooltip-background: #ffffff;
  --cs-tooltip-color: #202020;
  --cs-switch-control-background: #767676;
  --cs-switch-control-background-checked: #025564;
  --cs-switch-thumb-background: #ffffff;
  --cs-background-default: #dddddf;
  --cs-background-inverse: #1d1c20;
  --cs-background-light: #eeedf3;
  --cs-background-lighter: #f7f7f8;
  --cs-background-lightest: #ffffff;
  --cs-border-color-light: #e5e7eb;
  --cs-border-color-medium: #9ca3af;
  --cs-border-color-bold: #4b5563;
  --cs-color-severity-critical: #e9181f;
  --cs-color-severity-high: #de5d29;
  --cs-color-severity-medium: #cf8f0f;
  --cs-color-severity-low: #2d865a;
  --cs-color-severity-info: #2a67ed;
  --cs-color-alert-danger: #fa4147;
  --cs-color-alert-info: #9dc1fd;
  --cs-color-alert-neutral: #3d3d3d;
  --cs-color-alert-success: #06e5b7;
  --cs-color-alert-warning: #ffcc00;
  --cs-focus-ring-color: #039eba;
  --cs-overlay-dark: #00000008;
  --cs-overlay-darker: #0000000d;
  --cs-overlay-darkest: #00000026;
  --cs-inner-shadow-m: inset 0 2px 4px 0 #00000014;
  --cs-inner-shadow-l: inset 0 2px 5px 0 #00000017;
  --cs-drop-shadow-s: 0 0 1px 0 #00000012, 0 1px 2px 0 #00000026;
  --cs-drop-shadow-m: 0 0 4px 0 #0000000f, 0 3px 6px 0 #0000001a;
  --cs-drop-shadow-l: 0 10px 15px 0 #00000014, 0 0 3px 0 #00000012;
  --cs-drop-shadow-xl: 0 20px 25px 0 #00000014, 0 0 4px 0 #00000014;
  --cs-drop-shadow-2xl: 0 0 7px 0 #00000014, 0 25px 50px 0 #00000040;
  --cs-text-default: #3d3d3d;
}
