:host,
:root,
.theme-light {
  color-scheme: light;
  --cs-breadcrumb-color: #064F5F;
  --cs-breadcrumb-color-hover: #0F687B;
  --cs-breadcrumb-color-active: #161618;
  --cs-button-primary-background: #0F687B;
  --cs-button-primary-background-hover: #128098;
  --cs-button-primary-background-active: #064F5F;
  --cs-button-primary-color: #ffffff;
  --cs-button-secondary-background: #dddddf;
  --cs-button-secondary-background-hover: #efeef2;
  --cs-button-secondary-background-active: #b8b7bd;
  --cs-button-secondary-color: #161618;
  --cs-button-neutral-background: #ffffff;
  --cs-button-neutral-background-hover: #efeef2;
  --cs-button-neutral-background-active: #b8b7bd;
  --cs-button-neutral-border-color: #b8b7bd;
  --cs-button-neutral-border: 1px solid #b8b7bd;
  --cs-button-neutral-color: #dddddf;
  --cs-button-danger-background: #d31912;
  --cs-button-danger-background-hover: #e9181f;
  --cs-button-danger-background-active: #b11d13;
  --cs-button-danger-color: #ffffff;
  --cs-button-text-color: #064F5F;
  --cs-button-text-color-hover: #0F687B;
  --cs-button-text-color-active: #161618;
  --cs-button-text-color-disabled: #b8b7bd;
  --cs-button-disabled-background: #f7f7f8;
  --cs-button-disabled-color: #b8b7bd;
  --cs-button-dismiss-color: #3b3a40;
  --cs-button-dismiss-color-hover: #128098;
  --cs-button-dismiss-color-active: #064F5F;
  --cs-checkbox-background-checked: #0F687B;
  --cs-checkbox-border: 1px solid #b8b7bd;
  --cs-checkbox-border-color-disabled: #b8b7bd;
  --cs-checkbox-checked: #ffffff;
  --cs-checkbox-indeterminate: #ffffff;
  --cs-checkbox-border-color: #b8b7bd;
  --cs-dialog-overlay: #00000026;
  --cs-icon-color: #161618;
  --cs-icon-color-inverse: #ffffff;
  --cs-input-background: #00000014;
  --cs-input-border-color: #b8b7bd;
  --cs-input-border-color-focus: #2a67ed;
  --cs-input-border-color-invalid: #e9181f;
  --cs-input-color: #161618;
  --cs-input-color-disabled: #b8b7bd;
  --cs-input-label-color: #3b3a40;
  --cs-input-placeholder-color: #b8b7bd;
  --cs-input-shadow: inset 0 0 0 1px #b8b7bd, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-focus: inset 0 0 0 1px #2a67ed, 0 0 0 2px #2a67ed61;
  --cs-input-shadow-invalid: inset 0 0 0 1px #e9181f, 0 0 0 2px #e9181f61;
  --cs-link-color: #064F5F;
  --cs-link-color-hover: #0F687B;
  --cs-link-color-active: #161618;
  --cs-menu-background: #ffffff;
  --cs-menu-label-color: #161618;
  --cs-menu-item-background-hover: #f7f7f8;
  --cs-menu-item-color: #161618;
  --cs-popover-background: #ffffff;
  --cs-radio-checked: #ffffff;
  --cs-radio-checked-disabled: #b8b7bd;
  --cs-spinner-track-color: #b8b7bd;
  --cs-spinner-indicator-color: #2a67ed;
  --cs-switch-track-background: #2c2c30;
  --cs-switch-track-background-checked: #0F687B;
  --cs-switch-thumb-background: #ffffff;
  --cs-tab-color: #3b3a40;
  --cs-tab-color-hover: #161618;
  --cs-tab-color-active: #161618;
  --cs-tab-background: #ffffff00;
  --cs-tab-background-hover: #ffffff00;
  --cs-tab-background-active: #0F687B;
  --cs-table-color: #161618;
  --cs-table-background: #ffffff;
  --cs-table-border-color: #dddddf;
  --cs-table-header-background: #efeef2;
  --cs-table-header-color: #161618;
  --cs-table-header-column-separator-background: #1d1c20;
  --cs-table-row-background-odd: #efeef2;
  --cs-table-row-background-selected: #dddddf;
  --cs-table-row-border-color: #ffffff00;
  --cs-table-cell-color: #161618;
  --cs-tag-neutral-background: #dddddf;
  --cs-tag-neutral-color: #161618;
  --cs-tooltip-background: #ffffff;
  --cs-tooltip-color: #161618;
  --cs-tooltip-border-color: #86858e;
}
