:root {
  --toucan-space-none: 0;
  --toucan-space-xxs: 4px;
  --toucan-space-xs: 8px;
  --toucan-space-s: 12px;
  --toucan-space-m: 16px;
  --toucan-space-l: 20px;
  --toucan-space-xl: 24px;
  --toucan-space-2xl: 32px;
  --toucan-space-3xl: 40px;
  --toucan-type-sans-serif-4xl: 600 3rem/3.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-3xl: 600 2.5rem/3rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-2xl: 600 2rem/2.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-xl: 600 1.5rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-l-semibold: 600 1.25rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-l-tight-semibold: 600 1.25rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-l: 400 1.25rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m-semibold: 600 1rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m-tight-semibold: 600 1rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m: 400 1rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m-tight: 400 1rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m-underline: 600 1rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-m-tight-underline: 600 1rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-xs: 400 0.75rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-xs-tight: 400 0.75rem/1rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-sans-serif-xs-tight-underline: 400 0.75rem/1rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-type-mono-s: 400 0.875rem/1.5rem Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-type-mono-s-tight: 400 0.875rem/1.25rem Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-type-mono-s-underline: 400 0.875rem/1.75rem Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-type-mono-xs: 400 0.75rem/1.5rem Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-type-mono-xxs: 400 0.563rem/1rem Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-border-radius-none: 0;
  --toucan-border-radius-s: 2px;
  --toucan-border-radius-m: 4px;
  --toucan-border-radius-l: 8px;
  --toucan-border-radius-xl: 16px;
  --toucan-transition-duration-x-slow: 1000ms;
  --toucan-transition-duration-slow: 500ms;
  --toucan-transition-duration-medium: 250ms;
  --toucan-transition-duration-fast: 150ms;
  --toucan-transition-duration-x-fast: 50ms;
  --toucan-font-size-xxs: 0.563rem;
  --toucan-font-size-xs: 0.75rem;
  --toucan-font-size-s: 0.875rem;
  --toucan-font-size-m: 1rem;
  --toucan-font-size-l: 1.25rem;
  --toucan-font-size-xl: 1.5rem;
  --toucan-font-size-2xl: 2rem;
  --toucan-font-size-3xl: 2.5rem;
  --toucan-font-size-4xl: 3rem;
  --toucan-line-height-tighter: 1;
  --toucan-line-height-tight: 1.3;
  --toucan-line-height-normal: 1.5;
  --toucan-line-height-loose: 1.8;
  --toucan-line-height-looser: 2.2;
  --toucan-color-gray-100: #fafafa;
  --toucan-color-gray-200: #EEEEEE;
  --toucan-color-gray-300: #EDEDED;
  --toucan-color-gray-400: #EBEBEB;
  --toucan-color-gray-500: #E8E8E8;
  --toucan-color-gray-600: #E5E5E5;
  --toucan-color-gray-700: #E0E0E0;
  --toucan-color-gray-800: #D9D9D9;
  --toucan-color-gray-900: #D3D3D3;
  --toucan-color-gray-1000: #ADADAD;
  --toucan-color-gray-1100: #949494;
  --toucan-color-gray-1200: #767676;
  --toucan-color-gray-1300: #3D3D3D;
  --toucan-color-gray-1400: #242424;
  --toucan-color-gray-1500: #202020;
  --toucan-font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --toucan-font-family-monospace: Consolas, Menlo, Monaco, Courier, monospace;
  --toucan-font-weight-regular: 400;
  --toucan-font-weight-semibold: 600;
}
