:host,
:root {
  --cs-border-radius-none: 0;
  --cs-border-radius-s: 0.125rem;
  --cs-border-radius-m: 0.25rem;
  --cs-border-radius-l: 0.5rem;
  --cs-border-radius-xl: 1rem;
  --cs-focus-ring-offset: 2px;
  --cs-focus-ring-width: 2px;
  --cs-focus-ring-inset: -2px;
  --cs-focus-ring-style: solid;
  --cs-font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-font-family-monospace: Consolas, Menlo, Monaco, Courier, monospace;
  --cs-font-size-xxs: 0.563rem;
  --cs-font-size-xs: 0.688rem;
  --cs-font-size-s: 0.813rem;
  --cs-font-size-m: 0.875rem;
  --cs-font-size-l: 1.125rem;
  --cs-font-size-xl: 1.25rem;
  --cs-font-size-2xl: 1.75rem;
  --cs-font-size-3xl: 2.25rem;
  --cs-font-size-4xl: 2.75rem;
  --cs-font-weight-regular: 400;
  --cs-font-weight-semibold: 600;
  --cs-letter-spacing-none: 0;
  --cs-letter-spacing-tighten: -0.01em;
  --cs-letter-spacing-tight: -0.02em;
  --cs-letter-spacing-tighter: -0.03em;
  --cs-letter-spacing-tightest: -0.05em;
  --cs-space-x0: 0;
  --cs-space-x025: 0.063rem;
  --cs-space-x05: 0.125rem;
  --cs-space-x1: 0.25rem;
  --cs-space-x2: 0.5rem;
  --cs-space-x3: 0.75rem;
  --cs-space-x4: 1rem;
  --cs-space-x5: 1.25rem;
  --cs-space-x6: 1.5rem;
  --cs-space-x7: 1.75rem;
  --cs-space-x8: 2rem;
  --cs-space-x9: 2.25rem;
  --cs-space-x10: 2.5rem;
  --cs-space-x11: 2.75rem;
  --cs-space-x12: 3rem;
  --cs-space-x14: 3.5rem;
  --cs-space-x16: 4rem;
  --cs-space-x20: 5rem;
  --cs-space-x24: 6rem;
  --cs-space-x28: 7rem;
  --cs-space-x32: 8rem;
  --cs-space-x36: 9rem;
  --cs-space-x40: 10rem;
  --cs-space-x44: 11rem;
  --cs-space-x48: 12rem;
  --cs-space-x52: 13rem;
  --cs-space-x56: 14rem;
  --cs-space-x60: 15rem;
  --cs-space-x64: 16rem;
  --cs-space-x72: 18rem;
  --cs-space-x80: 20rem;
  --cs-space-x96: 24rem;
  --cs-text-decoration-underline: underline;
  --cs-text-decoration-none: none;
  --cs-text-decoration-line-through: line-through;
  --cs-transition-duration-x-slow: 1000ms;
  --cs-transition-duration-slow: 500ms;
  --cs-transition-duration-medium: 250ms;
  --cs-transition-duration-fast: 150ms;
  --cs-transition-duration-x-fast: 50ms;
  --cs-type-sans-serif-4xl: 600 2.75rem/3.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-3xl: 600 2.25rem/3rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-2xl: 600 1.75rem/2.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xl: 600 1.25rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l: 400 1.125rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l-semibold: 600 1.125rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l-tight-semibold: 600 1.125rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m: 400 0.875rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-semibold: 600 0.875rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight-semibold: 600 0.875rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight: 400 0.875rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-underline: 400 0.875rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight-underline: 400 0.875rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-s: 400 0.813rem/1.375rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-s-tight: 400 0.813rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-s-semibold: 600 0.813rem/1.375rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs: 400 0.688rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs-semibold: 600 0.688rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs-tight: 400 0.688rem/1rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs-tight-underline: 400 0.688rem/1rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-mono-m: 400 0.875rem/1.5rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-m-tight: 400 0.875rem/1.25rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-s: 400 0.813rem/1.375rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-s-tight: 400 0.813rem/1.25rem Consolas, Menlo, Monaco, Courier, monospace;
}
